@use "./main";

h1 {
  margin: auto;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid main.$primary-colour;
}
main {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 4fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "judul judul" "section-input section-calendar";

  h1 {
    grid-area: judul;
    width: 100%;
  }

  .section-input {
    grid-area: section-input;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 3px solid main.$primary-colour;

    & > div {
      position: sticky;
      top: 0;
    }

    #logout-btn {
      border: 2px solid main.$primary-colour;
      text-decoration: none;
      border-radius: 4px;
      padding: 6px 10px;
      margin-top: 5px;
      color: #000;

      &:is(:hover, :active, :focus) {
        background-color: red;
        border-color: red;
        color: #fff;
      }
    }

    .section-input-form {
      border: 2px solid main.$primary-colour;
      background-color: #fff;
      margin: 5px 15px 15px;
      padding: 10px;
      border-radius: 6px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

      h2 {
        text-align: center;
      }

      & .hidden {
        display: none;
      }
      .input {
        display: grid;
        margin: 15px 0;
        align-items: flex-start;
        grid-template-columns: minmax(70px, 1fr) 2fr;

        &:first-child {
          margin-top: 10px;
        }
        &:last-child {
          margin-bottom: 10px;
        }

        input {
          width: 100%;

          &#eId {
            pointer-events: none;
            cursor: none;
          }
        }
        label {
          width: 100%;
          color: main.$primary-colour;
        }
        textarea {
          resize: vertical;
        }
      }

      button[type="submit"] {
        width: 100%;
        padding: 5px 0;
        border-radius: 4px;
        border: none;
        transition: 150ms;
        cursor: pointer;
        border: 2px solid main.$primary-colour;
        background-color: #fff;

        &:is(:hover, :active, :focus) {
          background-color: main.$primary-colour;
          color: #fff;
        }
      }
    }
  }
  .container {
    grid-area: section-calendar;
    background-color: #fff;

    .navigation {
      margin: auto;
      display: flex;
      gap: 5px;
      font-size: 30px;
      width: min-content;

      a {
        text-decoration: none;
        color: #000;
        font-weight: bolder;
      }
    }

    .calendar {
      margin: auto;
      max-width: 1280px;
      display: grid;
      grid-template-columns: repeat(7, minmax(150px, 1fr));

      .day {
        display: grid;
        border-radius: 8px;
        grid-template-rows: minmax(140px, auto) min-content;
        margin: 5px;
        background-color: #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition-duration: 200ms;
        height: max-content;
        position: relative;

        &:is(:hover, :focus) {
          transform: scale(1.01);
          z-index: 3;

          .event {
            z-index: 4;
            display: block;
          }
        }

        &.ada-acara {
          border: 2px solid main.$primary-colour;

          & ~ .event {
            border-top-color: rgb(141, 114, 197) !important;
          }
        }

        .day-date {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .event {
          position: absolute;
          left: 50%;
          top: 100%;
          transform: translate(-50%, -25px) scale(1.05);
          display: none;
          background-color: #fff;
          width: 100%;
          border: 2px solid rgb(100, 100, 100);
          border-radius: 6px;
          transition: height 200ms;
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 5px 10px;
            padding-top: 5px;

            &:not(:first-child) {
              border-top: 2px solid rgba(0, 0, 0, 0.3);
            }

            .buttons {
              display: flex;
              flex-direction: column;
              gap: 3px;

              button {
                cursor: pointer;
                border: 2px solid main.$primary-colour;
                border-radius: 4px;
                background-color: #fff;

                &:is(:hover, :focus) {
                  background-color: main.$primary-colour;
                  color: #fff;

                  &.btn-hapus-event {
                    border-color: red;
                    background-color: red;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
