$primary-colour: rgba(100, 100, 100);

* {
  font-family: sans-serif;
}
body {
  margin: 0;
}
input {
  padding: 5px;
}
button {
  border: 2px solid $primary-colour;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;

  &:is(:focus, :active, :hover) {
    background-color: $primary-colour;
    color: #fff;
  }
}
